<a href="https://colab.research.google.com/github/Distifiaoktari/klp-9-project-apm-kelas-B/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [ ]:
stores = pd.read_csv('stores.csv', header=None)
stores.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
1,STR101,Electronics Zone,Electronincs,Delhi,21,60,160,110,3.9,2.62,16.46,0,1,4,4
2,STR102,Apparel Zone,Apparel,Delhi,21,60,160,110,3.9,2.875,17.02,0,1,4,4
3,STR103,Super Bazar,Super Market,Delhi,22.8,40,108,93,3.85,2.32,18.61,1,1,4,1
4,STR104,Super Market,Super Market,Delhi,21.4,60,258,110,3.08,3.215,19.44,1,0,3,1

In [ ]:
records = []
for i in range(0, 32):
    records.append([str(stores.values[i,j]) for j in range(0, 15)])

In [36]:
association_rules = apriori(records, min_support=0.003, min_confidence=0.2, min_lift=3, min_length=2)

In [38]:
association_results = list(association_rules)

In [39]:
print(len(association_results))

0

In [53]:
for item in association_results:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")