<a href="https://colab.research.google.com/github/Distifiaoktari/klp-9-project-apm-kelas-B/blob/main/FP_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install mlxtend --upgrade

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [17]:
dataset = pd.read_csv("sample_data/Store.csv")
dataset.head()

,MONTH,STORECODE,QTY,VALUE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,P1,25,83,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE HAIR FALL RESCUE
1,M1,P1,6,22,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE INTENSE REPAIR
2,M1,P1,4,15,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE OXYGEN MOISTURE
3,M1,P1,15,60,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,L'OREAL INDIA,GARNIER,FRUCTIS
4,M1,P2,0,0,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,CLINIC PLUS,CLINIC PLUS

In [19]:
# kumpulkan semua item dari setiap transaksi ke dalam numpy array
store = []
for i in range(0, dataset.shape[0]):
    for j in range(0, dataset.shape[1]):
        store.append(dataset.values[i,j])

# mengubah ke dalam bentuk array
store = np.array(store)
print(store)

['M1' 'P1' '25' ... 'ZYDUS WELLNESS LTD' 'SUGAR FREE' 'SUGAR FREE GOLD']

In [21]:
#  Ubah data menjadi DataFrame Pandas
df = pd.DataFrame(transaction, columns=["items"]) 

# Masukan 1 ke Setiap Item Untuk Membuat Tabel Hitung, untuk dapat melakukan pengelompokkan
df["incident_count"] = 1 

#  Delete NaN Items dari Dataset
indexNames = df[df['items'] == "nan" ].index
df.drop(indexNames , inplace=True)

# Membuat DataFrame Pandas Baru yang Tepat untuk Visualisasi
df_table = df.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()

#  Initial Visualizations
df_table.head(5).style.background_gradient(cmap='Blues')

In [22]:
# tree map
df_table["all"] = "Top 50 items" 

# gunakan plotly
fig = px.treemap(df_table.head(50), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(50), hover_data=['items'],
                  color_continuous_scale='Blues',
                )
# ploting the treemap
fig.show()

In [23]:
# Ubah Setiap Transaksi menjadi Daftar Terpisah & Kumpulkan Mereka menjadi Numpy Array
transaction = []
for i in range(dataset.shape[0]):
    transaction.append([str(dataset.values[i,j]) for j in range(dataset.shape[1])])

# creating the numpy array of the transactions
transaction = np.array(transaction)

# importing the required module
from mlxtend.preprocessing import TransactionEncoder

# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)

# dataset after encoded
dataset.head()

,0,1,10,100,1000,1002,1003,1004,1005,1006,...,ZANDU ULTRA POWER,ZATPAT,ZED BLACK,ZED BLACK DEEP MOGRA,ZED BLACK DEEP GULAB,ZED BLACK MANTHAN,ZED BLACK PANCHDEEP,ZEE HYGINE PRODUCTS PVT LTD,ZOOPY,ZYDUS WELLNESS LTD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
#running the fpgrowth algorithm
res = fpgrowth(dataset,min_support=0.05, use_colnames=True)

# printing top 10
res.head(10)

    support                      itemsets
0  0.336886                          (M1)
1  0.161781  (HINDUSTAN UNILEVER LIMITED)
2  0.074404                          (P1)
3  0.234081                           (0)
4  0.103156                          (P2)
5  0.106171                           (1)
6  0.078892                           (2)
7  0.095512                          (P3)
8  0.101964                          (P4)
9  0.147055                          (P6)

In [29]:
# creating asssociation rules
res=association_rules(res, metric="lift", min_threshold=0.8)

# printing association rules
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(M1),(HINDUSTAN UNILEVER LIMITED),0.336886,0.161781,0.054909,0.162989,1.007467,0.000407,1.001443
1,(HINDUSTAN UNILEVER LIMITED),(M1),0.161781,0.336886,0.054909,0.339402,1.007467,0.000407,1.003808
2,(HINDUSTAN UNILEVER LIMITED),(M3),0.161781,0.325386,0.051964,0.321196,0.987125,-0.000678,0.993828
3,(M3),(HINDUSTAN UNILEVER LIMITED),0.325386,0.161781,0.051964,0.159698,0.987125,-0.000678,0.997521
4,(M2),(HINDUSTAN UNILEVER LIMITED),0.337728,0.161781,0.054909,0.162583,1.004956,0.000271,1.000958
5,(HINDUSTAN UNILEVER LIMITED),(M2),0.161781,0.337728,0.054909,0.339402,1.004956,0.000271,1.002534
6,(0),(M1),0.234081,0.336886,0.084502,0.360995,1.071562,0.005643,1.037728
7,(M1),(0),0.336886,0.234081,0.084502,0.250833,1.071562,0.005643,1.022360
8,(0),(M3),0.234081,0.325386,0.069986,0.298981,0.918852,-0.006181,0.962334
9,(M3),(0),0.325386,0.234081,0.069986,0.215086,0.918852,-0.006181,0.975800
10,(M2),(0),0.337728,0.234081,0.079593,0.235673,1.006799,0.000537,1.002082
11,(0),(M2),0.234081,0.337728,0.079593,0.340024,1.006799,0.000537,1.003479
12,(P8),(M1),0.185273,0.336886,0.061711,0.333081,0.988704,-0.000705,0.994294
13,(M1),(P8),0.336886,0.185273,0.061711,0.183181,0.988704,-0.000705,0.997438
14,(P8),(0),0.185273,0.234081,0.053997,0.291446,1.245062,0.010628,1.080960
15,(0),(P8),0.234081,0.185273,0.053997,0.230677,1.245062,0.010628,1.059018
16,(P8),(M3),0.185273,0.325386,0.060729,0.327782,1.007364,0.000444,1.003565
17,(M3),(P8),0.325386,0.185273,0.060729,0.186638,1.007364,0.000444,1.001678
18,(P8),(M2),0.185273,0.337728,0.062833,0.339137,1.004172,0.000261,1.002132
19,(M2),(P8),0.337728,0.185273,0.062833,0.186047,1.004172,0.000261,1.000950
20,(PREMIUM),(TOILET SOAPS (04/00)),0.056241,0.084432,0.055610,0.988778,11.710943,0.050862,81.587284
21,(TOILET SOAPS (04/00)),(PREMIUM),0.084432,0.056241,0.055610,0.658638,11.710943,0.050862,2.764685
22,(SPICES (03/04)),(BLENDED),0.118022,0.085133,0.085133,0.721331,8.472965,0.075086,3.282987
23,(BLENDED),(SPICES (03/04)),0.085133,0.118022,0.085133,1.000000,8.472965,0.075086,inf